<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PAAVideo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D472C611D2FA73700A0C861</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D472C7A1D2FA73800A0C861</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D472C851D2FA73800A0C861</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
